# Secure defaults
# See: https://stribika.github.io/2015/01/04/secure-secure-shell.html
Port 2222
Protocol 2
HostKey /etc/ssh/keys/ssh_host_ed25519_key
HostKey /etc/ssh/keys/ssh_host_rsa_key

# Faster connection
# See: https://github.com/atmoz/sftp/issues/11
UseDNS no

SyslogFacility AUTHPRIV
ClientAliveInterval 2m
ClientAliveCountMax 0

# Limited access
MaxStartups 100:30:200
PermitRootLogin no
X11Forwarding no
AllowTcpForwarding no

# Force sftp and chroot jail
Subsystem sftp internal-sftp
ChrootDirectory %h
ForceCommand internal-sftp -l VERBOSE

# Enable this for more logs
LogLevel VERBOSE
